body {
	background-color: #90AFC5;
}

li {
	list-style: none;
}

form input {
	font-family: 'Indie Flower', cursive;
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 75px;
	border-radius: 100px;
	border: 5px solid #2A3132;
	background-color: #336B87;
}

input::placeholder  {
	color: #763626;
	font-size: 24px;
	padding-left: 13px;
}

form button {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	width: 150px;
	height: 35px;
	border-radius: 50px;
	background-color: #763626;
}

.namechoice {
	
}

.device {
	display: none;
}

#child{
	display: none;
}

#adult{
	display: none;
}

#elder{
	display: none;
}

#die {
	display: none;
}

#start {
	display: none;
	margin: 0 auto;
	width: 150px;
	height: 35px;
	border-radius: 50px;
	background-color: #763626;
}

.device {
	height: 550px;
	width: 500px;
	background-color: steelblue;
	margin: 0 auto;
	border-radius: 3%;
}

.screen {
	height: 400px;
	width: 450px;
	background-color: white;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 3%;
}

.buttons {
	height: 35px;
	display: flex;
	justify-content: space-evenly;
	margin-top: 25px;
}

.stats {
	background-color: rosybrown;
	height: 150px;
	width: 200px;
}

.stats li {
	font-size: 20px;
}

img {
	height: 200px;
	width: 200px;
}





